<?xml version="1.0"?>
<ruleset name="wingu php sdk coding standard">
    <!-- display progress -->
    <arg value="p"/>
    <arg name="colors"/>

    <!-- inherit rules from: -->
    <rule ref="Doctrine">
        <exclude name="SlevomatCodingStandard.Namespaces.ReferenceUsedNamesOnly"/>
    </rule>
    <rule ref="SlevomatCodingStandard.Namespaces.FullyQualifiedGlobalConstants"/>
    <rule ref="SlevomatCodingStandard.Namespaces.FullyQualifiedGlobalFunctions"/>
    <rule ref="Generic.Files.LineLength">
        <properties>
            <property name="absoluteLineLimit" value="0" />
        </properties>
        <severity>0</severity>
    </rule>

    <!-- Paths to check -->
    <file>src</file>
    <file>tests</file>
</ruleset>
